a {
    color: #000000;
}
body {
    font-family: Arial, sans-serif;
    /*background-color: #26a9d9;*/
    /*background-color: #409dbf;*/
    /*background-color: #608e9f;*/
}
#column {
    width: 900px;
    min-height: 1200px;
    background-color: #ffffff;
    /*padding: 10px;*/
    padding-top: 20px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid #000000;*/
}
div .title {
    text-align: center;
    font-size: xx-large;
}
hr {
    background-color: #000000;
    color: #000000;
    height: 2px;
    border: 0px;
}
.errors {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 1.0);
    padding: 5px;
}
.errors ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.errors ul li {
    list-style-type: none;
}
.navlinks {
    margin-top: -4px;
}
.navlinks ul {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 16px;
    text-align: center;
    width: 100%;
}
.navlinks ul li {
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
    display: inline-block;
    list-style-type: none;
}
